$font-size-root: 62.5% !default; //10px 1rem으로 설정

// -- font --
$main-font-bold: 'Pretendard-Bold';
$main-font-semi-bold: 'Pretendard-SemiBold';
$main-font-medium: 'Pretendard-Medium';
$main-font-regular: 'Pretendard-Regular';

// -- color --
$main-font-color: #ffffff;
